{% extends "social_app/base.html" %}
{% load static %}
{% block content %}


    <div id="messages"></div>
    <div class="col-xs-2">
      <input id="chat-input" class="form-control mt-3" type="text" placeholder="Write a message!" width="48" autofocus />
    </div>
    <div class="row justify-content-center mt-4">
      <a href="{% url 'social_app:home' %}">
        <button class="btn btn-dark">
          Back To Home
        </button>
      </a>
    </div>

{% endblock %}
{% block JS %}
{% endblock %}