{% extends "social_app/base.html" %}
<!-- (Hanah) tutorial had this in already? -->
{% load crispy_forms_tags %}
{% block content %}
<!--Kathy's CSS (main-page, container, and padding)-->
<div class="container main-page py-4 px-3">
    <div class="card profile-bg p-4">
        <div class="media m-4">
            <img class="rounded-circle img-thumbnail" src="{{ user.profile.image.url }}">
            <!--(Hanah) location of user's image-->
            <div class="media-body mx-4">
                <h2 class="header-text">{{ user.first_name }} {{ user.last_name }}</h2>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <!-- FORM HERE (Ben) -->
        <div class="container main-page">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4 header-text">Profile Information</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                    <legend class="border-bottom mb-4 mt-4 header-text">Roommate Preferences</legend>
                    <p class="text-center"><b>This Information Will Be Used To Determine Your Top Matches!</b></p>
                    {{ pref_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-dark" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
{% block JS %}
<script>
    window.addEventListener('load', () => {
        const label = document.getElementById("div_id_display_profile");
        label.getElementsByTagName("label")[0].style.fontSize = "x-large";
    })
    document.getElementById('id_match_list').addEventListener('change', function () {
        const match_form = document.getElementById('id_match_list');
        const match_form_option = match_form.options[match_form.selectedIndex].value;
        console.log(match_form_option);
    })
</script>
{% endblock JS %}