{% extends "social_app/base.html" %}

    {% block title %}Roommate Finder{% endblock %}
    {% block content %}
<!-- Kathy -->
<!-- Added profile cards -->
<div class="container main-page py-4 px-3">
    <div class="card profile-bg p-4">
        <div class="media m-4">
            <img class="rounded-circle img-thumbnail" src="{{ profile.user.profile.image.url }}">
            <div class="media-body mx-4">
                <h2 class="account-heading">{{ profile.user.username }}</h2>
                <p class="text-secondary">{{ profile.user.email }}</p>
                <p></p>
            </div>
        </div>
        <div class="container p-4">
            <h3 class="mb-4 card-header pl-0 pb-4 pt-1">A little bit about this wonderful person :)</h3>
            <div class="card-text">
                <p>
                    <strong>Name :</strong>
                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                </p>
                <p>
                    <strong>Bio :</strong>
                    {%if profile.bio%}
                    {{ profile.bio }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Age :</strong>
                    {%if profile.age%}
                    {{ profile.age }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Graduation Year :</strong>
                    {%if profile.graduation_year%}
                    {{ profile.graduation_year }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Pronouns :</strong>
                    {%if profile.pronouns%}
                    {{ profile.pronouns }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Phone Number :</strong>
                    {%if profile.phone_number%}
                    {{ profile.phone_number }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>On Grounds :</strong>
                    {%if profile.on_grounds%}
                    {{ profile.on_grounds }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Max Price :</strong>
                    {%if profile.max_price%}
                    {{ profile.max_price }}
                {%else%}
                    -
                {%endif%}
                </p>
            </div>

            {% if profile.property %}
            <h3 class="mb-4 mt-5 card-header pl-0 pb-4 pt-1">Property Information</h3>
            <div class="card-text">
                <p>
                    <strong>Pics: </strong>
                    {%if profile.property.image%}
                    {{ profile.property.image.url }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Rent :</strong>
                    {%if profile.property.rent%}
                    {{ profile.property.rent }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Address: </strong>
                    {%if profile.property.address%}
                    {{ profile.property.address }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p><strong>Furnished :</strong>
                    {%if profile.property.furnished%}
                    {{ profile.property.furnished }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Current Number of Roommates: </strong>
                    {%if profile.property.current_number_of_roommates%}
                    {{ profile.property.current_number_of_roommates }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p><strong>Desired Number of Roommates: </strong>
                    {%if profile.property.number_of_roommates_seeking%}
                    {{ profile.property.number_of_roommates_seeking }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Number of Bedrooms: </strong>
                    {%if profile.property.number_of_bedrooms%}
                    {{ profile.property.number_of_bedrooms }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Number of Bathrooms: </strong>
                    {%if profile.property.number_of_bathrooms%}
                    {{ profile.property.number_of_bathrooms }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Lease Duration: </strong>
                    {%if profile.property.lease_duration%}
                    {{ profile.property.lease_duration }} month(s)
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Building Type: </strong>
                    {%if profile.property.building_type%}
                    {{ profile.property.building_type }} month(s)
                {%else%}
                    -
                {%endif%}
                </p>
                <p>
                    <strong>Other Details: </strong>
                    {%if profile.property.other_details%}
                    {{ profile.property.other_details }}
                {%else%}
                    -
                {%endif%}
                </p>
                <p><strong>Amenities: </strong></p>
                {% for a in profile.property.amenities.all %}
                    {%if a.name%}
                        <li>{{ a.name }}</li>
                    {%else%}
                        -
                    {%endif%}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
</div>
{% endblock content %}
