{% extends "social_app/base.html" %}
{% load socialaccount %}

    {% block title %}Roommate Finder{% endblock %}
    {% block content %}
<!-- Seungeon -->
<!-- Added profile cards -->
{% if user.is_authenticated %}
<div class="container py-4 px-4">
    <p>Hi! logged in</p>
</div>
{% else %}
<div class="jumbotron">
    <p class="text-center">
        <p>Log in to start viewing profiles</p>
        <a href="{% provider_login_url 'google' %}">
            <button class="btn btn-dark">
                Log In
            </button>
        </a>
    </p>
</div>
{% endif %}
    
    {% endblock content %}
