{% extends "social_app/base.html" %}

    {% block title %}Roommate Finder{% endblock %}
    {% block content %}
<!-- Seungeon -->
<!-- Added profile cards -->
{% if user.is_authenticated %}
<div class="container py-4 px-4">
    {% if profiles %}
    <div class="card-deck">
        {% for p in profiles %}
        <div class="card p-4 m-2 text-center roomie-card">
            <a href="{% url 'social_app:profile_detail_view' p.user.pk %}">
                <img src="{{ p.image.url }}" class="rounded-circle img-thumbnail card-img-top roomie-pfp">
            </a>
            <div class="card-body">
                <a href="{% url 'social_app:profile_detail_view' p.user.pk %}" class="card-title roomie-name"><strong>{{ p.user.first_name }} {{ p.user.last_name}}</strong></a>
                <p class="card-text">{{ p.bio|truncatewords:15 }}</p>
            </div>
            <div class="card-footer roomie-footer">
                <a href="{% url 'social_app:profile_detail_view' p.user.pk %}" class="btn btn-dark">View Profile</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% else %}
<div class="jumbotron my-auto">
    <p class="text-center">
        Log in to start checking out profiles
    </p>
</div>
{% endif %}
    
    {% endblock content %}
