/*Kathy*/

:root {
    --primary: #0a0957;
    --primary2: #52517c;
    --secondary: #ffffff;
    --secondary2: #ec9a57;
    --secondary3: #faf1ec;
}

body{
    background: var(--secondary2);
    color: var(--primary);
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Patrick Hand SC', cursive; */
}

.main-pageg{
    background-color: white;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.3) !important;
    font-weight: bold;
}

.navbar-light a {
    color: var(--primary) !important;
}

.nav-item:hover {
    opacity: 0.7;
}

.jumbotron {
    background-color: var(--secondary);
}

.btn-dark {
    background: var(--primary);
    border-width: 0.2rem;
    border-color: var(--primary);
    font-weight: bold;
}

.btn-dark:hover {
    background: none !important;
    border-width: 0.2rem;
    border-color: var(--primary);
    color: var(--primary);
    font-weight: bold;
}

.base-card {
    background-color: var(--secondary);
}

#backToTop {
    margin: auto;
    width: 15rem;
    padding: auto;
}

.profile-bg{
    border-width: 0.2rem;
    border-color: var(--secondary2);
    background-color: var(--secondary3);
}

.rounded-circle{
    border-radius:50%;
    width:10rem;
    height:10rem;
}