/*Kathy*/
:root {
    --primary: #0a0957;
    --primary2: #52517c;
    --secondary: #ffffff;
    --secondary2: #57ceec;
    --secondary3: #ecf6fa;

  }

body, .main-page{
    background: var(--secondary2);
    color: var(--primary);
}

.navbar{
    background-color: rgba(255, 255, 255, 0.3) !important;
    font-weight: bold;
}

.navbar-light a{
    color: var(--primary) !important;
}

.nav-item:hover{
    opacity: 0.7;
}

.jumbotron{
    background-color: var(--secondary);
}

.btn-dark{
    background: var(--primary);
    border-width: 0.2rem;
    border-color: var(--primary);
    font-weight: bold;
}

.btn-dark:hover{
    background: none !important;
    border-width: 0.2rem;
    border-color: var(--primary);
    color: var(--primary);
    font-weight: bold;
}

.base-card{
    background-color: var(--secondary);
}

#backToTop {
    margin: auto;
    width: 15rem;
    padding: auto;
}
